<h1>Listing products</h1>
<table id="products" class="display" data-source="<%= products_url(format: "json") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody> 
  <% for product in @products %>
    <tr>
    <td><%= link_to product.name, product %></td>
    <td><%= product.quantity %></td>
    <td><%= product.owner %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<br />

<%= link_to 'New Product', new_product_path %>
