<h1 class="pull-left">Products List</h1>
<%= link_to ' New Product', new_product_path, :class => 'btn  icon-plus pull-right', :id => "margin20" %>
<table id="products" class="display table table-bordered" data-source="<%= products_url(format: "json") %>">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody> 
  <% for product in @products %>
    <tr>
      <td><%= link_to product.name, show_borrow_products_path(product) , :rel => 'shadowbox;height=300px;width=300px' %></td>
    <td><%= product.quantity %></td>
    <td><%= product.owner %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<br />

