<!DOCTYPE html>
<html>
<head>

<title>MdoInventory</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<script type="text/javascript">
Shadowbox.init(
);

</script>
<%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">


      <%= link_to "MDO Inventory", root_path, :class => 'brand' %>
    </div>
  </div>
</div>

<div class= "container">
  <%= yield %>
</div>
</body>
</html>
